// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


$typography-font-family: 'IBM Plex Sans', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font-size: 1rem;

$h1:        (size: 3.75em,     line-height: 1.75em,     letter-spacing: -.01562em, weight: 300);
$h2:        (size: 3.05em,  line-height: 1.05em,  letter-spacing: -.00833em, weight: 300);
$h3:        (size: 2.666667em,     line-height: 1.125em, letter-spacing: normal,    weight: 400);
$h4:        (size: 1.925rem, line-height: 0.85em,   letter-spacing: .00735em,  weight: 400);
$h5:        (size: 1.475em,   line-height: 0.85em,     letter-spacing: normal,    weight: 400);
$h6:        (size: 1.2em,  line-height: 0.85em,     letter-spacing: .0125em,   weight: 500);
$subtitle1: (size: 1em,     line-height: 1.75em,  letter-spacing: .00937em,  weight: 400);
$subtitle2: (size: .875em,  line-height: 1.375em, letter-spacing: .00714em,  weight: 500);
$body1:     (size: 1em,     line-height: 1.5em,   letter-spacing: .03125em,  weight: 400);
$body2:     (size: .875em,  line-height: 1.25em,  letter-spacing: .01786em,  weight: 400);
$overline:  (size: .75em,   line-height: 2em,     letter-spacing: .16667em,  weight: 500);
$caption:   (size: .75em,   line-height: 1.25em,  letter-spacing: .03333em,  weight: 400);

// $h1:        (size: 6rem,     line-height: 6rem,     letter-spacing: -.01562em, weight: 300);
// $h2:        (size: 3.75rem,  line-height: 3.75rem,  letter-spacing: -.00833em, weight: 300);
// $h3:        (size: 3rem,     line-height: 3.125rem, letter-spacing: normal,    weight: 400);
// $h4:        (size: 2.125rem, line-height: 2.5rem,   letter-spacing: .00735em,  weight: 400);
// $h5:        (size: 1.5rem,   line-height: 2rem,     letter-spacing: normal,    weight: 400);
// $h6:        (size: 1.25rem,  line-height: 2rem,     letter-spacing: .0125em,   weight: 500);
// $subtitle1: (size: 1rem,     line-height: 1.75rem,  letter-spacing: .00937em,  weight: 400);
// $subtitle2: (size: .875rem,  line-height: 1.375rem, letter-spacing: .00714em,  weight: 500);
// $body1:     (size: 1rem,     line-height: 1.5rem,   letter-spacing: .03125em,  weight: 400);
// $body2:     (size: .875rem,  line-height: 1.25rem,  letter-spacing: .01786em,  weight: 400);
// $overline:  (size: .75rem,   line-height: 2rem,     letter-spacing: .16667em,  weight: 500);
// $caption:   (size: .75rem,   line-height: 1.25rem,  letter-spacing: .03333em,  weight: 400);


$primary : #1976D2;
$secondary : #26A69A;
$accent : #9C27B0;

$dark: #1D1D1D;
$dark-page: #121212;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;
$default: #cfd8dc;
$default-dark: rgba(200, 200, 200, 0.46);

$toolbar-min-height: 48px;
// $toolbar-padding: 0 12px;
// $toolbar-inset-size: 58px;
// $toolbar-title-font-size: 21px;
// $toolbar-title-font-weight: normal;
// $toolbar-title-letter-spacing: .01em;
// $toolbar-title-padding: 0 12px;
$generic-border-radius : 7px;
$button-line-height: 1.467515em;
$button-font-weight: 400;
$button-border-radius : 6px;

$shadow-color : #232323;
$elevation-umbra      : rgba($shadow-color, .12);
$elevation-penumbra   : rgba($shadow-color, .07);
$elevation-ambient    : rgba($shadow-color, .06);
$layout-shadow: 0 8px 24px rgba(168, 180, 208, 0.1);

// $shadow-0  : 0 0 0 $elevation-umbra, 0 0 0 $elevation-penumbra, 0 0 0 $elevation-ambient;
// $shadow-1  : 0 1px 3px $elevation-umbra, 0 1px 1px $elevation-penumbra, 0 2px 1px -1px $elevation-ambient;
$shadow-2  : 0 4px 25px $elevation-umbra, 0 2px 10px $elevation-penumbra, 0 3px 1px -2px $elevation-ambient;
// $shadow-3  : 0 1px 8px $elevation-umbra, 0 3px 4px $elevation-penumbra, 0 3px 3px -2px $elevation-ambient;
// $shadow-4  : 0 2px 4px -1px $elevation-umbra, 0 4px 5px $elevation-penumbra, 0 1px 10px $elevation-ambient;
// $shadow-5  : 0 3px 5px -1px $elevation-umbra, 0 5px 8px $elevation-penumbra, 0 1px 14px $elevation-ambient;
// $shadow-6  : 0 3px 5px -1px $elevation-umbra, 0 6px 10px $elevation-penumbra, 0 1px 18px $elevation-ambient;
// $shadow-7  : 0 4px 5px -2px $elevation-umbra, 0 7px 10px 1px $elevation-penumbra, 0 2px 16px 1px $elevation-ambient;
// $shadow-8  : 0 5px 5px -3px $elevation-umbra, 0 8px 10px 1px $elevation-penumbra, 0 3px 14px 2px $elevation-ambient;
// $shadow-9  : 0 5px 6px -3px $elevation-umbra, 0 9px 12px 1px $elevation-penumbra, 0 3px 16px 2px $elevation-ambient;
// $shadow-10 : 0 6px 6px -3px $elevation-umbra, 0 10px 14px 1px $elevation-penumbra, 0 4px 18px 3px $elevation-ambient;
// $shadow-11 : 0 6px 7px -4px $elevation-umbra, 0 11px 15px 1px $elevation-penumbra, 0 4px 20px 3px $elevation-ambient;
// $shadow-12 : 0 7px 8px -4px $elevation-umbra, 0 12px 17px 2px $elevation-penumbra, 0 5px 22px 4px $elevation-ambient;
// $shadow-13 : 0 7px 8px -4px $elevation-umbra, 0 13px 19px 2px $elevation-penumbra, 0 5px 24px 4px $elevation-ambient;
// $shadow-14 : 0 7px 9px -4px $elevation-umbra, 0 14px 21px 2px $elevation-penumbra, 0 5px 26px 4px $elevation-ambient;
// $shadow-15 : 0 8px 9px -5px $elevation-umbra, 0 15px 22px 2px $elevation-penumbra, 0 6px 28px 5px $elevation-ambient;
// $shadow-16 : 0 8px 10px -5px $elevation-umbra, 0 16px 24px 2px $elevation-penumbra, 0 6px 30px 5px $elevation-ambient;
// $shadow-17 : 0 8px 11px -5px $elevation-umbra, 0 17px 26px 2px $elevation-penumbra, 0 6px 32px 5px $elevation-ambient;
// $shadow-18 : 0 9px 11px -5px $elevation-umbra, 0 18px 28px 2px $elevation-penumbra, 0 7px 34px 6px $elevation-ambient;
// $shadow-19 : 0 9px 12px -6px $elevation-umbra, 0 19px 29px 2px $elevation-penumbra, 0 7px 36px 6px $elevation-ambient;
// $shadow-20 : 0 10px 13px -6px $elevation-umbra, 0 20px 31px 3px $elevation-penumbra, 0 8px 38px 7px $elevation-ambient;
// $shadow-21 : 0 10px 13px -6px $elevation-umbra, 0 21px 33px 3px $elevation-penumbra, 0 8px 40px 7px $elevation-ambient;
// $shadow-22 : 0 10px 14px -6px $elevation-umbra, 0 22px 35px 3px $elevation-penumbra, 0 8px 42px 7px $elevation-ambient;
// $shadow-23 : 0 11px 14px -7px $elevation-umbra, 0 23px 36px 3px $elevation-penumbra, 0 9px 44px 8px $elevation-ambient;
// $shadow-24 : 0 11px 15px -7px $elevation-umbra, 0 24px 38px 3px $elevation-penumbra, 0 9px 46px 8px $elevation-ambient;
